.timeList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    min-width: 350px;
    max-width: 450px;
}

@media (max-width: 768px) {
    .timeList {
        min-width: unset;
        width: 100%;
    }
}